{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.body }}</p>


    <h4 class="bt-5">Leave a comment</h4>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
         <div class="mb-3">
            <button class="btn btn-primary" type="submit">Comment</button>
         </div>
    </form>

    <ul>
        <p class="fw-bold">Categories:</p> 
        {% for category in categories %}
            <li>
                {{category}}
            </li>
        {% endfor %}
    </ul>

    <h3>All comments :</h3>
    <ul>
    {% for comment in comments %}
        <li class="mt-2 p-3 list-unstyled border border-1 rounded">
            <p class="fw-bold">{{comment.username}}</p>
            <p class="fw-normal">{{comment.body}}</p>
            <span>{{comment.created_at|date:'F d H:i' }}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}