{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.body }}</p>


    <h4 class="bt-5">Leave a comment</h4>
    <form>
        {{form|crispy}}
        {% comment %} <div class="mb-3">
            <input type="text" name="title" class="form-control" placeholder="Your name"/>            
        </div>
        <div class="mb-3 form-floating">
            <textarea class="form-control" name="body" id="body" style="height: 100px"></textarea>
            <label for="body">Comments</label>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Comment</button>
        </div> {% endcomment %}
    </form>
{% endblock %}