<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Blogzer | {% block title %}Amazing{% endblock%} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                      <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url "article_list" %}">Home</a>
                    </div>
                  </div>
            </nav>
        {% endblock %}
    </div>

    <div id="container content">
        <div class="container-fluid">
            {% block content %}
            Content here...
            {% endblock %}
        </div>
    </div>
</body>
</html>